<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<h1>用户列表</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th><th>用户名</th><th>邮箱</th><th>注册时间</th><th>is_staff</th><th>is_active</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.date_joined }}</td>
        <td>{{ u.is_staff }}</td>
        <td>{{ u.is_active }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="6">无用户</td></tr>
      {% endfor %}
    </tbody>
  </table>
<a href="{% url 'home' %}">点击返回主页</a>
</body>
</html>
